---

---

<header
  class="font-space w-full flex justify-between items-start px-4 py-8 z-10"
>
  <div class="flex flex-col gap-2 text-gray-600">
    <p class="flex flex-col gap-1 justify-center">
      <span>Based in</span>
      <span>Bengaluru, India</span>
    </p>
  </div>
  <a
    href="/"
    class="text-center font-bold text-gray-800 hover:underline transition-all duration-1000"
    >takeuforward.org</a
  >
  <div class="flex flex-col gap-2 text-gray-600">
    <a
      href="/"
      class="hover:font-semibold hover:text-gray-700/90 transition-colors duration-500 ease-in-out"
      >Home</a
    >
    <a
      href="/"
      class="hover:font-semibold hover:text-gray-700/90 transition-colors duration-500 ease-in-out"
      >Pricing</a
    >
    <a
      href="/"
      class="hover:font-semibold hover:text-gray-700/90 transition-colors duration-500 ease-in-out"
      >Resources</a
    >
    <a
      href="/"
      class="hover:font-semibold hover:text-gray-700/90 transition-colors duration-500 ease-in-out"
      >Login</a
    >
  </div>
</header>
